@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}
body {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
}

.btn {
  border: none;
  background-color: transparent;
}

input[type=text] {
  border: none;
  outline: none;
  background-color: transparent;
}

body {
  background-color: #f7f7f7;
}

form {
  background-color: #ffffff;
  padding: 15px 20px 25px 20px;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
}

.options {
  border: 1px solid #e3e3e3;
  border-radius: 6px;
}

input[type=text], .select {
  margin-left: -11px;
  width: 100%;
  border: 1px solid #e3e3e3;
  border-radius: 6px;
  padding: 7px 11px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 10px;
}

input[type=text]:placeholder-shown, .select {
  color: #808080;
}

.select {
  cursor: pointer;
}
.select .active {
  color: #202020;
}

.form-container {
  margin: 0 11px;
}

.btn {
  width: 100%;
  border: 1px solid #ff3d00;
  color: #ff3d00;
  border-radius: 5px;
  padding: 10px 0;
  font-size: 14px;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 900;
  transition: 0.5s;
  cursor: pointer;
}
.btn:hover {
  background-color: #ff3d00;
  color: #ffffff;
}
.btn.second {
  width: 100%;
  border: 1px solid #0085ff;
  color: #0085ff;
  border-radius: 5px;
  padding: 10px 0;
  font-size: 14px;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 900;
  transition: 0.5s;
  cursor: pointer;
}
.btn.second:hover {
  background-color: #0085ff;
  color: #ffffff;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat";
  font-weight: 900;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 12px;
}

p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  margin: 10px;
}
p.context {
  font-weight: 400;
  font-size: 10px;
  color: #808080;
}

.cover {
  position: relative;
  width: 100%;
  padding-top: 100%;
}
.cover img, .cover-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cover.rectangle {
  width: 100%;
  padding-top: 64.4567219153%;
}

.wrapper {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 10px;
}

.container {
  display: flex;
  justify-content: space-between;
}

svg {
  cursor: pointer;
}

svg {
  fill: #202020;
  transition: 0.4s;
}
svg :hover {
  transition: 0.4s;
  fill: #ff3d00;
}

.card {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
.card img {
  border-radius: 8px 8px 0 0;
}

section {
  margin-bottom: 80px;
}

header {
  padding: 36px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
}
header .burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .burger-menu .line {
  height: 2px;
  width: 18px;
  background-color: #202020;
  margin: 3px;
}

.main {
  margin-top: 10px;
}
.main-container {
  width: 49%;
  background-color: #0085ff;
  border-radius: 8px;
}
.main-container img {
  border-radius: 8px;
}
.main-container .cover-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}
.main-container h1 {
  margin: 35px;
}
.main-container h1:first-child {
  margin-bottom: 0;
}

.cards .card {
  width: 18%;
}
.cards h2 {
  margin: 10px;
}
.cards .btn {
  margin-bottom: 5px;
}

.main-form {
  width: 30%;
  margin: 0 auto;
  margin-bottom: 80px;
}
.main-form h1 {
  text-align: center;
  margin-bottom: 25px;
}

input {
  margin-bottom: 20px;
}

.select {
  display: flex;
  position: relative;
  margin-bottom: 30px;
}
.select :hover .pick svg {
  fill: #ff3d00;
}
.select :hover .options {
  display: block;
}
.select .pick {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  padding: 0 14px;
  height: 100%;
}

.options {
  display: none;
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  bottom: -10px;
  left: 0;
  transform: translate(0, 100%);
}
.options .opt {
  padding: 10px 11px;
  transition: 0.4s;
  color: #202020;
}
.options .opt:hover {
  background-color: #ff3d00;
  color: white;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #202020;
  margin-bottom: 100px;
  padding: 40px 10px;
}
footer p {
  color: #ffffff;
  line-height: 15px;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
